.container {
    width: 100%;
    height: 100vh;
}

.poste-infos {
    width: 100%;
    display: flex;
}

.poste-info {
    width: 50%;
    padding: 2rem;
}

.infos {
    width: 100%;
    height: 50%;
    margin: 0 0 2rem 0;
}

.infos-rom {
    background: blue;
}

.infos-ram {
    background: green;
}

.details {
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
}
