.container {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0 2rem 0;
}

.poste-infos {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.poste-info {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.screen {
    justify-content: center;
    position: relative;
}

.screen-actions {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}

.screen img {
    width: 100%;
    max-height: 64vh;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 5px #c0c0c0;
}

.empty-screen {
    height: 64vh;
}

.full-screen {
    width: 100%;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
}

    .full-screen img {
        height: 100vh;
    }

.infos {
    width: 100%;
    height: 30vh;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #c0c0c0;
}

.details {
    display: flex;
    flex-wrap: wrap;
    line-height: 15px;
    color: #454545;
}

.details div {
    width: 25%;
}

.details h6 {
    font-weight: bold;
}

.details p {
    font-size: 13px;
}

.infos-rom {
    background: blue;
}

.infos-ram {
    background: green;
}

.poste-controls {
    padding-top: 4rem;
}

.controls-title {
    display: flex;
    gap: 10px;
}

    .controls-title hr {
        width: 70rem;
    }

    .controls-title p {
        font-weight: bold;
        font-size: 18px;
    }

.controls {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 0 2rem 0;
}

.controls-category {
    width: 48%;
}

.category-label p {
    display: inline-flex;
}

.category-label p {
    font-weight: bold;
}

.category {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category button {
    width: 135px;
}

