
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 20rem;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

.form-header {
    display: flex;
    justify-content: center;
}

.form-body {
    padding: 2rem 0 2rem 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.form-input {
    display: flex;
    height: 45px;
    border-radius: 5px;
    padding: 0 15px 0 15px;
    border: solid 1px gray;
}

.form-input:focus {
    border: none;
    outline: 1px solid;
    outline-color: dodgerblue;
    box-shadow: 1px 1px 5px skyblue;
}

.form-check-input {
    margin-right: 10px;
}

.form-control {
    border: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.btn {
    width: 100%;
    height: 45px;
    border-radius: 5px;
}

.btn-primary {
    background: dodgerblue;
}

.btns {
    margin-top: 5rem;
}

.btn-danger {
    margin-top: 15px;
}

select {
    height: 45px;
    margin-top: 2rem;
}

.select-item {
    display: flex;
    height: 405px;
}
