@page "/"

@using Services;
@using Shareds.Modeles;

@inject NavigationManager NavigationM
@inject UserService userService

<PageTitle>Wellcome</PageTitle>

<div class="container">
    <div class="welcome-div">
        <div class="welcome-text welcome">
            <p class="p">Bienvenue</p>
            <p>sur</p>
            <h1>IT Management</h1>
            <p>La plateforme de gestion de parc infomatique qui s'adapte a vos besoins</p>
        </div>
        <div class="welcome-img welcome">
            <img src="Ressources/Images/poste.png"/>
        </div>
    </div>
    
</div>

@code 
{
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        UserSession userS = await userService.GetUserSession();

        if (userS is not null)
        {
            NavigationM.NavigateTo("/dashboard");
        }

        StateHasChanged();
    }
}
