.container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    padding: 2rem 0 2rem 0;
}

.welcome-div {
    display: inline-flex;
    align-items: center;
    color: #454545
}

.welcome {
    width: 50%;
}

.welcome-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p span {
    font-size: 3rem;
}

.p {
    line-height: 30px;
}

p {
    font-size: 15px;
    margin: 0;
    line-height: 60px;
}

.welcome-text h1 {
    font-size: 70px;
    margin: 0;
    line-height: 70px;
}

.btn-d-app {
    min-width: 150px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.btn-d-app span {
    transition: 0.3s;
}

.btn-d-app:hover span {
    transform: scale(1.5);
}

.welcome-img img {
    width: 100%;
}

.logo {
    width: 10rem;
}

.blur {
    width: 25%;
    height: 20vh;
    position: absolute;
    z-index: -1;
}

.blur-0 {
    background: dodgerblue;
    filter: blur(150px);
}

.blur-1 {
    top: 40%;
    left: 40%;
    background: red;
    filter: blur(150px);
}

.blur-2 {
    bottom: 0;
    right: 0;
    background: blue;
    filter: blur(150px);
}
