@page "/"

@using Services;
@using Shareds.Modeles;

@inject NavigationManager NavigationM
@inject UserService userService

<PageTitle>Wellcome</PageTitle>

<div class="container">
    <div class="welcome-div">
        <div class="welcome-text welcome">
            <img class="logo" src="Ressources/Images/AppLogo_B.png" />
            <p class="p"><span> Bienvenue</span> <br />sur</p>
            <h1>IT Management</h1>
            <p>La plateforme de gestion de parc infomatique qui s'adapte a vos besoins</p>
            <div>
                <button class="btn btn-primary btn-d-app">
                    <span class="oi oi-cloud-download"></span>
                    Télécharger
                </button>
            </div>
        </div>
        <div class="welcome-img welcome">
            <img src="Ressources/Images/poste.png"/>
        </div>
    </div>

    <div class="blur blur-0"></div>
    <div class="blur blur-1"></div>
    <div class="blur blur-2"></div>
</div>

@code 
{
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        UserSession userS = await userService.GetUserSession();

        if (userS is not null)
        {
            NavigationM.NavigateTo("/dashboard");
        }

        StateHasChanged();
    }
}
