.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 2rem 0 2rem 0;
}

.welcome-div {
    display: inline-flex;
}

.welcome {
    width: 50%;
}

.welcome-text {
    line-height: 10px;
}

.welcome img {
    width: 100%;
}
