@using Shareds.Modeles;
@using Services;
@using Microsoft.AspNetCore.Components.Forms;

@*
   public int Numero { get; set; }
        public int Capacite { get; set; }
        public bool Status { get; set; }
        public int IdType { get; set; }
        public int IdEtablissement { get; set; }
*@

@*<EditForm Model="salle">
    <div class="form-group">
        <label for="numero">Numéro:</label>
        <InputText id="numero" @bind-Value="salle.Numero.ToString()"/>
        <ValidationMessage For="@(() => salle.Numero)"/>
    </div>
    <div class="form-group">
        <label for="capacite">Capacité:</label>
        <InputNumber id="capacite" @bind-Value="salle.Capacite" />
        <ValidationMessage For="@(() => salle.Capacite)" />
    </div>
    <div class="form-group">
        <label>Statut:</label>
        <div class="form-check">
            <InputRadio id="statutDisponible" @bind-Value="salle.Status" Value="true"  class="form-check-input"/>
            <label for="statutDisponible" class="form-check-label">Disponible</label>
        </div>
        <div class="form-check">
            <InputRadio id="statutIndisponible" @bind-value="salle.Status" Value="false"  class="form-check-input"/>
            <label for="statutIndisponible" class="form-check-label">Indisponible</label>
        </div>
    </div>
    <div class="form-group">
        <label for="type">Type:</label>
        <InputNumber id="type" @bind-Value="salle.IdType" />
    </div>
</EditForm>*@

@code {
    [Parameter]
    public bool isNew { get; set; }

    [Parameter]
    public int id { get; set; }

    private SalleModele salle;

    protected override void OnInitialized()
    {
        if(isNew)
        {
            salle = new SalleModele();
        }
    }

}
