.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #1b6ec2;
}

.header-option .user_conected {
    font-weight: bold;
}

.top-row {
    background-color: #f9f9f9;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.bottom-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.content {
    min-height: 100vh;
}

.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.header-option {
    position: absolute;
    top: 30%;
    text-align: center;
}

.list-items {
    min-width: 150px;
    height: 0;
    overflow: hidden;
    background: white;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-items-show {
    margin-top: 10px;
    height: inherit;
    padding: 5px;
    border: 1px solid #d6d5d5;
}

.list-item {
    cursor: pointer;
}

.item {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    width: 100%;
    background: #eae9e9;
}

.logout {
    background: #ff2e2e;
    color: white;
}

.infos:hover {
    background: #d6d5d5;
}

.logout:hover {
    background: #ff5050;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
