@using Shareds.Modeles
@using Web.Services
@inherits LayoutComponentBase

@inject NavigationManager NavigationM

<PageTitle>Web</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">          
            @if (UserService.isLoginPage)
            {
                <button class="btn btn-outline-primary" href="" @onclick="(()=>GoToLogin())">
                    Se connecter
                </button>
            }
            else
            {
                <button class="btn btn-outline-primary" href="" @onclick="(()=>GoToRegister())">
                    Créer un compte
                </button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="top-row px-4">
            <p>Cop</p>
        </div>
    </main>
</div>

@code {

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {

    }

    public void GoToLogin()
    {
        UserService.isLoginPage = false;
        NavigationM.NavigateTo("/login");
    }

    public void GoToRegister()
    {
        UserService.isLoginPage = true;
        NavigationM.NavigateTo("/register");
    }
}
