
.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #454545;
}

.parc-form {
    width: 0;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

.parc-form-open {
    width: 40rem;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    transition: 0.3s;
}

.form-header {
    display: flex;
    justify-content: center;
}

.form-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
}

.form-group {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    height: 45px;
    border-radius: 25px;
    padding: 0 15px 0 15px;
    border: solid 1px gray;
}

.form-input:focus {
    border: none;
    outline: 1px solid;
    outline-color: dodgerblue;
    box-shadow: 1px 1px 5px skyblue;
}


.form-check-input {
    margin-right: 10px;
}

.form-control {
    border: none;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

    .form-control div {
        width: 50%;
    }

.btn {
    width: 100%;
    height: 45px;
    border-radius: 25px;
}

.btn-create {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-top: 5rem;
}

.container-parc {
    width: 100%;
    min-height: 85vh;
    display: inline-flex;
    padding-top: 2rem;
}

.parc-infos {
    width: 50%;
}

.parc-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-infos {
    height: 15rem;
    border: 1px solid #c7c7c7;
    box-shadow: 1px 1px 10px #c7c7c7;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.p-infos div {
   width: 32.0%;
   height: 3rem;
}

.logo-div {
    margin-bottom: 2rem;
    width: 10rem;
    height: 10rem;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 5px #c7c7c7;
}

.logo-div img {
    width: 100%;
    border-radius: 25px;
}

.btn-edite-img {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -20px;
    right: -20px;
}

.infos {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.infos p {
    margin: 0;
}
