
.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #454545;
    /*background-image: linear-gradient(#0F246318 0.9px, transparent 0.9px), linear-gradient(to right, #0F246313 0.9px, rgba(248, 252, 252, 0.74) 0.9px);
    background-size: 18px 18px;*/
}

.parc-form {
    width: 0;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

.parc-form-open {
    width: 40rem;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    transition: 0.3s;
}

.form-header {
    display: flex;
    justify-content: center;
}

.form-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
}

.form-group {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    height: 45px;
    border-radius: 25px;
    padding: 0 15px 0 15px;
    border: solid 1px gray;
}

.form-input:focus {
    border: none;
    outline: 1px solid;
    outline-color: dodgerblue;
    box-shadow: 1px 1px 5px skyblue;
}


.form-check-input {
    margin-right: 10px;
}

.form-control {
    border: none;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

    .form-control div {
        width: 50%;
    }

.btn {
    width: 100%;
    height: 45px;
    border-radius: 25px;
}

.btn-create {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-top: 5rem;
}

.container-parc {
    min-height: 85vh;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.blur {
    width: 25%;
    height: 20vh;
    position: absolute;
    z-index: -1;
}

.blur-0 {
    background: dodgerblue;
    filter: blur(150px);
}

.blur-1 {
    top: 40%;
    left: 40%;
    background: red;
    filter: blur(150px);
}

.blur-2 {
    bottom: 0;
    right: 0;
    background: blue;
    filter: blur(150px);
}

.about-txt {
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-infos {
    width: 100%;
    display: inline-flex;
    padding-top: 4rem;
}

.parc-infos {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parc-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-infos {
    width: 50%;
    height: 16rem;
    box-shadow: 1px 1px 5px #c7c7c7;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-right: 4rem;
    background: #ffffffaf;
}

.p-infos .infos {
   width: 32.0%;
   height: 3rem;
   border: 1px solid #e6e6e6;
   padding: 10px;
   border-radius: 5px;
   overflow: hidden;
}

    .p-infos .infos-nom {
        width: 100%;
    }


.logo-div {
    margin-bottom: 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 5px #c7c7c7;
    background: white;
}

    .logo-div img {
        width: 100%;
        height: 10rem;
        border-radius: 25px;
    }

.btn-edite-img {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -15px;
    right: -15px;
}

.infos {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.infos p {
    margin: 0;
}

.contact {
    width: 50%;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #c7c7c7;
    background: #ffffffaf;
}

.btns-div {
    width: 40px;
    position: absolute;
    top: 0;
    right: -60px;
    display: grid;
    gap: 15px;
}

    .btns-div .btn {
        width: 40px;
        height: 40px;
    }
